.button {
  position: relative;
  padding: 18px 14px;
  color: #fdfdff;
  font-size: 15.54px;
  font-weight: 500;
  line-height: 22.79px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    color: #ff5722;
    font-weight: bold;
    border: 2px solid #ff5722;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}
