.aboutUs {
  padding: 40px 0;
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
  &-container {
    max-width: 1100px;
    margin: 0 auto;
  }

  &-title {
    font-size: 35px;
    font-weight: 900;
    @media screen and (max-width: 768px) {
      font-size: 23px !important;
    }
  }

  &-mainTitle {
    font-size: 60px;
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 25px !important;
    }
  }

  &-content {
    p {
      font-size: 23px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    &__img {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
}

.aboutUs-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .aboutUs-title {
    grid-column: span 2;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #ff5722;

    @media screen and (max-width: 768px) {
      grid-column: span 1;
      font-size: 24px;
    }
  }

  .aboutUs-content {
    display: contents;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .aboutUs-content:nth-of-type(even),
  .aboutUs-content:nth-of-type(odd) {
    @media screen and (max-width: 768px) {
      img, p {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    height: 450px;
    object-fit: cover;

    @media screen and (max-width: 768px) {
      height: auto;
    }
  }

  p {
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    font-size: 25px;
    height: 400px;
    background: #494848;
    border-radius: 10px;
    color: #efeaea;
    font-weight: 900;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      height: auto;
      margin-top: 10px;
    }
  }
}
