.upcomingEventItem {
  border: 2px solid  rgba(255, 87, 34, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  gap: 15px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  &-date {
    font-size: 19px;
    font-weight: 900;
    font-size: 17px;
  }

  &-location {
    margin-left: 40px;
    font-size: 25px;
    font-weight: 900;
    @media screen and (max-width: 768px) {
      margin-left: auto;
      font-size: 21px;
    }
  }

  &-button {
    margin-left: auto;
    background: #ff2d22;
    border-radius: 10px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      background: transparent;
      color: #fff;
    }
  }
}

.upcomingEventItemDescr {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media screen and (max-width: 768px) {
      gap: 10px
    }

    &-descr {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;

        .text {
            font-size: 20px;
            font-weight: 900;
            @media screen and (max-width: 768px) {
              font-size: 14px;
            }
        }
    }

    &-description {
        padding: 10px;
        .text {
            font-size: 13px;
        }
    }
}
