.textarea-wrapper {
  position: relative;
  width: 100%;

  .textarea-label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #999;
    font-size: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 3;
  }

  .textarea-field {
    width: -webkit-fill-available;
    padding: 12px;
    padding-top: 20px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease;
    background: transparent;
    resize: vertical; /* Дозволяє змінювати висоту текстового поля */
    min-height: 120px; /* Мінімальна висота textarea */

    &:focus {
      border-color: #ff5722;
    }
  }

  &.active .textarea-label {
    top: 0px;
    font-size: 0.75rem;
    color: #ff5722;
    z-index: 3;
    background: rgba(53, 52, 52, 0.9);
  }
}
