.merchandise {
  position: relative;
  padding: 30px 70px 70px 30px;

  &-title {
    margin-bottom: 50px;
    font-size: 42px;
    text-align: center;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .wrapper {
      width: 21%;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      border: 2px solid rgba(255, 87, 34, 0.4);
      padding: 15px;
      border-radius: 10px;
      background: rgba(53, 52, 52, 0.9);
      transition: all 0.2s ease-in;
      opacity: 0.8;

      &:hover {
        transform: scale(1.05);
        transition: all 0.2s ease-in;
        border: 2px solid rgba(255, 87, 34, 1);
        opacity: 1;
      }

      &-title {
        font-size: 20px;
        margin-bottom: 25px;
        font-weight: 900;
        top: 10px;
        text-decoration: underline;
        letter-spacing: 0.8px;
      }

      &-img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;

    .button {
      width: 250px;
      height: 80px;
      border: 2px solid #ff5722;
      font-size: 23px;

      a {
        all: unset;
      }
    }
  }
}
